:root {
  --primary: #A800D9;
  --light-purple: #bd32e7;
  --white: rgb(255, 255, 255);
  --font: sans-serif;
}

body, html {
  background-color: rgb(255, 255, 255);
  height: 100%;
}

a.active, a:hover {
  background-color: var(--light-purple);
}

nav {
  background-color: var(--primary);
}

footer {
  background-color: var(--primary);
  color: var(--white);
  font-size: x-large;
}

#physics, #chemistry, #mathematics {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-color: var(--primary);
  color: var(--white);
}

#chemistry:disabled, #mathematics:disabled {
  opacity: 0.2;
}

#canvas_div {
  border: 1px black solid;
  border-radius: 5px;
}

#start, #stop, #reset {
  background-color: var(--white);
  width: 33.3333%;
  float: left;
  padding: 10px;
}

#start:hover:enabled, #stop:hover:enabled, #reset:hover:enabled, .form-button:hover:enabled {
  background-color: var(--primary);
  color: white;
}

#task-dropdown {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
}

#parameters-title {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 5px;
  height: 38px;
}

#parameter-error {
  color: red
}

.form-button {
  background-color: var(--white);
}